<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
  <head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Gestion Curso</title>
	<link rel="stylesheet" href="https://bootswatch.com/sandstone/bootstrap.min.css" type="text/css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
  	<link rel="stylesheet" href="../../static/css/style.css"/>
  	<link rel="stylesheet" href="/sismanweb/static/css/style.css"/>

  </head>

  <body>

	
	

		
	<!-- **********************************Inicio  barrra lateral**********************************-->
	<div class="row col-xs-3" >
		<div class="nav-side-menu">
			    <div class="brand"><h3>SISTEMA DE MANTENIMIENTO WEB</h3></div>
			    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
			  
			        <div class="menu-list">
			  
			            <ul id="menu-content" class="menu-content collapse out">
			                <li style="border-left: none;">
			                  <a href="#">
			                  <i >OPCIONES</i> 
			                  </a>
			                </li>

			                <li  data-toggle="collapse" data-target="#curso" class="collapsed active" >
			                  <a href="#">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-book">&nbsp;CURSOS</span></a>
			                </li>
			                <ul class="sub-menu collapse" id="curso">
			                    <li><a href="curso_Agregar.html" th:href="@{/curso/form}">Registrar</a></li>
								<li><a href="curso_Ver.html" th:href="@{/curso/all}">Buscar</a></li>
			                </ul>


			                <li data-toggle="collapse" data-target="#alumno" class="collapsed">
			                  <a href="#">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-user" >&nbsp;ALUMNO</span></a>
			                </li>  
			                <ul class="sub-menu collapse" id="alumno">
			                  <li><a href="alumno_Agregar.html" th:href="@{/alumno/form}">Registrar</a></li>
							  <li><a href="alumno_Ver.html" th:href="@{/alumno/all}">Buscar</a></li>
			                </ul>


			                <li data-toggle="collapse" data-target="#new" class="collapsed">
			                  <a href="#">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-apple">&nbsp;DOCENTE</span></a>
			                </li>
			                <ul class="sub-menu collapse" id="new">
			                  <li><a href="docente_Agregar.html" th:href="@{/docente/form}">Registrar</a></li>
							  <li><a href="docente_Ver.html" th:href="@{/docente/all}">Buscar</a></li>
			                </ul>


			            </ul>
			     </div>
		</div>

	</div>
	<!-- **********************************Fin barrra lateral**********************************-->


				<div class="col-xs-9 ">
					<!-- **********************************Inicio  encabezado**********************************-->
							<div class="col-xs-12 well">
								<div align="left" class="col-xs-6">
									<h2 >GESTION DE CURSOS</h2>								
								</div>
								<div align="right" class="col-xs-6">								
									<a href="#" th:href="@{/logout}"><button class="btn btn-primary">CERRAR SESION</button></a>
								</div>								
							</div>
					<!-- **********************************Fin encabezado**********************************-->


					<!-- **********************************Inicion formulario**********************************-->	

							<h1>AGREGAR CURSO</h1><hr/>
							<form th:action="@{/curso/add}" th:object="${curso}" method="post" >
							  	  <div class="form-group">
							  		<div class="col-xs-12" >
							  			<label for="nombre">Nombre de curso(*)</label>
								    	<input type="text" class="form-control" id="nombre" placeholder="Ingrese Nombre" required="" pattern="([a-zA-Z0-9]\s*){1,71}" th:field="*{nombre}"></input>
							  		</div>
							  		<div class="col-xs-6">
							  			<label for="codigo">Codigo Curso (*)</label>
								    	<input type="text" class="form-control" id="codigo" placeholder="Ingrese Codigo" required="" pattern="[a-zA-Z0-9]{1,71}" th:field="*{codigo}"></input>
							  		</div>
							  		<div class="col-xs-6" >
							  			<label for="Apellido_materno">Creditos (*)</label>
								    	<input type="number" class="form-control" id="Apellido_materno" placeholder="N° creditos" required="" min="0" max="4" th:field="*{creditos}"></input>
							  		</div>
							  		<div class="col-xs-6">
							  			<label for="ciclo">Ciclo (*)</label>
								    	<input type="number" class="form-control" id="ciclo" placeholder="Ciclo" required="" min="0" max="10" th:field="*{ciclo}"></input>
							  		</div>
							  		<div class="col-xs-6">
							  				<label >Plan (*)</label>
								            <select name="plan" class="form-control" th:field="*{idPlan}">
						                        <option th:each="plan : ${listaPlan}" th:value="${plan.idplan}" th:text="${plan.planNombre}" />
								            </select>
							  		</div>
								  </div>
								 <label>(*) Campos obligatorios</label>
								 <button type="submit" class="btn btn-default btn-block">Enviar</button>
							</form>

					<!-- **********************************Fin formulario**********************************-->					
				<div class="espacio_vacio"></div>
				</div>
		
	
  <!--  Footer -->
	     <div >
		  	<footer ><h2>Area de Desarrollo y Soporte tecnico</h2></footer>
		 </div>
<!-- Fin de Footer-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>
