<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es" >
<head>
  <meta charset="UTF-8"/>
  <title>SISMANWEB</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes"/>  
  <link rel="stylesheet" href="../static/css/style_login.css" type="text/css"/>  
  <link rel="stylesheet" href="/sismanweb/static/css/style_login.css" type="text/css"/>
  <!-- 
  <link rel="stylesheet" media="screen" href="../static/css/style_particulas.css" type="text/css"/>
  <link rel="stylesheet" media="screen" href="/sismanweb/static/css/style_particulas.css" type="text/css"/>
  -->
  
</head>

<body>

  <div class="titulo">
    <h1>SISTEMA DE MANTENIMIENTO WEB</h1>
  </div>
  
  <div class='login'>
    <form th:action="@{/logincheck}" method="POST">
	  <h2>Iniciar Sesion</h2>
	  <input id='username' name='username' placeholder='Usuario' type='text' />	  
	  <input id='password' name='password' placeholder='Contraseña' type='password' />	  	  
	  <input type='submit' value='Ingresar'/>
	  <div th:if="${error} != null">Usuario o contraseña incorrecta</div>
	  <div th:if="${logout} != null">Usted se ha desconectado</div>
  	</form>
  </div>
  <div id="particles-js"></div>
  
 <script src="../static/js/particles.js"></script>
 <script src="/sismanweb/static/js/particles.js" ></script>

<!--  
 <script src="../static/js/app_config_particulas.js"></script>
 <script src="/sismanweb/static/js/app_config_particulas.js" ></script>
-->

</body>
</html>
